footer {
    height: 100px;
    margin-top: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
  
}