header {
    text-align: center;
    background-color: black;
    margin: 50px;
}
h1 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
header img {
    width: 500px;
  
}