header {
    text-align: center;
  
    margin: 50px;
}

header img {
    width: 10%;
   display: flex;
   flex-direction: column;

  
}
header img :hover {
  
}
h1 {
    color: yellow;
    font-size: 40px;
    text-decoration:solid;
   text-align: left;
   width: 100%;
   margin-top: 0px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
